

.columns {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
  }
  

.code-table {
    padding: 0px 10px;
    display: block;
    background: rgba(0, 0, 0, .2);
    margin: 5px;
    color: #fff;
    /* color: rgba(255, 255, 255, .6); */
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .table th, .table td {
    border-top: none;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid ;
  }
  
  .table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .nav-pills .nav-link.active, .nav-pills .nav-item.show .nav-link {
    background-color: #2f3137;
  }
  
  .nav-link {
    color: rgb(151, 151, 151);
  }
  
  .code-table  .item .name{
    opacity: .8;
    padding: .3em .8em;
    /* letter-spacing: -.06em; */
  
    font-size: 10px;
  }
  
  .code-table  .item .code{
    opacity: 1;
    padding: .3em .8em;
  
    font-size: 10px;
  }
  
  .table-hover tbody tr:hover .code{
    opacity: 1;
  }

  .item-copied {
    background: #fff;
    color: #666;
  }