<div class="columns">

  <div class="code-table" *ngFor="let group of dataCode" [style.color]="group.color">
    <h2>
      <i class="fa {{group.icon}}" aria-hidden="true"></i> {{group.title}}</h2>
    <div class="table-responsive">
      <table class="table table-striped table-hover table-sm">
        <thead>
          <tr>
            <th></th>
            <th [style.color]="group.color">Code</th>
          </tr>
        </thead>
        <tbody>
          <tr class="item" *ngFor="let item of group.items">
            <td class="name">{{item.name}}</td>
            <td class="code"
                ngxClipboard
                [class.item-copied]="isCopied === item.code"
                (cbOnSuccess)="isCopied = item.code"
                [cbContent]="copy(item.code)">
              {{item.code}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
