// @import "mediaquery";
// @import "components";
// @import "icons";

@import "reset.css";

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.min.css";

// @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
// @import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap);

body {
  background-color: #222223;
  color: #fff;
  font-family: "Roboto Mono", monospace;

  .container-fluid {
    padding-right: 0;
    padding-left: 0;

    .columns {
      padding-top: 2em;
      // left: 270px;
      // top: 0;
      // position: fixed;
      display: flex;
      flex-wrap: wrap;
      overflow-y: auto;
      overflow-x: hidden;
      height: 100vh;
      align-items: stretch;
    }
  }

  .ui-sidebar {
    &.ui-sidebar-right {
      background-color: #222223;
      color: #fff;
      border-color: #08080a;
    }
  }

  .ui-contextmenu {
    font-size: 0.7em;

    .ui-menuitem-link {
      padding: 0.4em;
    }
  }
}
