<div class="colors">

    <div class="row no-gutters">
        <div class="col-7">
            <ul class="palette">
                <li *ngFor="let group of getdata()" class="group">
                    <span class="title">
                        {{group.color}}
                    </span>

                    <span class="item" *ngFor="let item of group.variations" [style.background]="item" ngxClipboard
                        [class.copy]="isCopied === item" (cbOnSuccess)="isCopied = item" [cbContent]="item">
                        <span>
                            {{item}}
                        </span>
                    </span>
                </li>
            </ul>
        </div>
        <div class="col-5">
            <ul class="palette">

                <li *ngFor="let group of color2" class="group">

                    <span class="item" *ngFor="let item of group.variations" [style.background]="item" ngxClipboard
                        [class.copy]="isCopied === item" (cbOnSuccess)="isCopied = item" [cbContent]="item">
                        <span>
                            {{item}}
                        </span>
                    </span>
                </li>

                <li>
                    <div class="btn btn-secondary btn-block" (click)="newColors()">Generate</div>
                </li>

            </ul>
        </div>
    </div>

</div>