.colors {
    padding-top: 2em;

    .group {
        display: flex;

        .title {
            font-size: 0.8em;
            min-width: 8em;
        }

        .item {
            user-select: none;
            cursor: pointer;
            // height: 3.5em;
            height: 4.9vh;
            display: block;
            width: 6em;
            font-size: 0.7em;
            text-align: center;
            width: 100%;

            &.copy:after {
                transform: translateY(-10px);
                content: "--Copied--";
                display: flex;
                align-items: center;
                justify-content: center;
                mix-blend-mode: difference;
            }
        }
    }
}
