<div class="container-fluid">
  <app-sidebar></app-sidebar>
  <router-outlet></router-outlet>
</div>


<p-sidebar [(visible)]="service.editItem" position="right" *ngIf="service.editItem">
  <h5>Description / Code</h5>

  <div class="form-group" *ngIf="service.editItem.type == 'item'">
    <label>Name</label>
    <input [(ngModel)]="service.editItem.name" type="text" class="form-control form-control-sm" placeholder="name">
  </div>

  <div class="form-group" *ngIf="service.editItem.type == 'item'">
    <label>Code</label>
    <textarea [(ngModel)]="service.editItem.code" class="form-control form-control-sm" rows="5"
      placeholder="code"></textarea>
  </div>

  <div class="form-group" *ngIf="service.editItem.type == 'group'">
    <label>Title</label>
    <input [(ngModel)]="service.editItem.title" type="text" class="form-control form-control-sm" placeholder="title">
  </div>

  <div class="form-group" *ngIf="service.editItem.type == 'group'">
    <label>Color</label>
    <input [(ngModel)]="service.editItem.color" type="color" class="form-control form-control-sm" placeholder="">
  </div>

  <div class="form-group" *ngIf="service.editItem.type == 'group'">
    <label>Icon</label>
    <input [(ngModel)]="service.editItem.icon" type="text" class="form-control form-control-sm" placeholder="fa-">
  </div>

  <div class="btn-group btn-group-sm">
    <button type="button" (click)="cancel()" class="btn btn-danger">Cancel</button>
    <button type="button" (click)="save()" class="btn btn-success">Save</button>
  </div>

  <!-- {{service.editItem | json}} -->

</p-sidebar>