h2{
  font-size: 1.6rem;
  margin-bottom: 0.3rem;
}


h1 {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.container-fluid {
  /* height: 100vh; */
}

.table-sm th,
.table-sm td {
  padding: 0.3em .2em;
  font-size: .8rem;
  /* line-height: 1.1rem; */
  font-weight: 600;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 5px solid #2f3137;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item+.nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.copy-item {
  background: #ccc;
}



.columns {
  position: fixed;
  top: 10px;
  left: calc(8% - 7px);
  padding: 0 0 0 20px;
}


