<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a class="nav-link" href="#" [routerLink]="'/shortcuts'" routerLinkActive="active">
      <i class="fa fa-code" aria-hidden="true"></i> shortcuts
      <span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" [routerLink]="'/hybris'" routerLinkActive="active">
      <i class="fa fa-yoast" aria-hidden="true"></i> Hybris</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" [routerLink]="'/colors'" routerLinkActive="active">
      <i class="fa fa-database" aria-hidden="true"></i> Colors</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" [routerLink]="'/fontawesome'" routerLinkActive="active">
      <i class="fa fa-flag" aria-hidden="true"></i> Icons</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fa fa-codepen" aria-hidden="true"></i> Codepen</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fa fa-bitbucket" aria-hidden="true"></i> BitBucket</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fa fa-github" aria-hidden="true"></i> Github</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="http://localhost/adminer/">
      <i class="fa fa-database" aria-hidden="true"></i> Adminer</a>
  </li>
</ul>
