.palette {
	margin: 0;
    padding: 10px 5px;
	font-size: 12px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    list-style: none;
    height: 97vh;
    overflow-y: auto;
    background: #fff;
}
.palette li {
	cursor: pointer;
	margin: 5px;
	position: relative;
	width: 90px;
	height: 40px;
    padding: 14px 5px 0;
	overflow: hidden;
}

.palette li span {
	position: absolute;
	bottom: 0;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	width: 90%;
	text-overflow: ellipsis;
    text-align: center;
    mix-blend-mode: difference;
    opacity: .5;
}


.palette li.copy:after {
    transform: translateY(-10px);
    content: '--Copied--';
    display: flex;
	align-items: center;
    justify-content: center;
    mix-blend-mode: difference;
}