.code-table {
  padding: 0px 10px;
  display: block;
  background: rgba(0, 0, 0, 0.2);
  margin: 5px;
  color: #fff;
  height: calc(100% - 0.6em);
  // margin-bottom: 1rem;
  /* color: rgba(255, 255, 255, .6); */
  user-select: none;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}

.line {
  display: flex;
  justify-content: space-between;

  .code {
    width: 60%;
    padding: 0 0.5em;
  }

  &:hover {
    opacity: 0.8;
  }

  &:nth-child(even) {
    background: rgba(0, 0, 0, 0.3);
  }
}
