.item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    user-select: none;
    cursor: pointer;
    line-height: 0.9rem;
    max-width: 40vw;

    div {
        font-size: 0.7em;
        // width: 11.5vw;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
        padding: 0 0.5em;
    }
    .name {
        width: 40%;
        // padding-right: 1em;
        text-rendering: optimizeLegibility;
    }

    .code {
        width: 60%;
        text-rendering: optimizeLegibility;
    }
}

.item-copied {
    background: #fff;
    color: #666;
}
