<!-- <tr class="item" [style.color]="color" #item>
    <td class="name">{{line.name}}</td>
    <td class="code" ngxClipboard [class.item-copied]="isCopied === line.code"
        (cbOnSuccess)="isCopied = line.code" [cbContent]="copy(line.code)">
        {{line.code}}</td>
</tr> -->

<span class="item" [style.color]="color" #item>
    <div class="name">{{line.name}}</div>
    <div class="code" ngxClipboard [class.item-copied]="service.isCopied === line.code"
    (cbOnSuccess)="service.isCopied = line.code" [cbContent]="copy(line.code)">
    {{line.code}}</div>
</span>
<!-- 
<tr class="item" [style.color]="color" #item>
    <td class="name">{{line.name}}</td>
    <td class="code" ngxClipboard [class.item-copied]="isCopied === line.code"
        (cbOnSuccess)="isCopied = line.code" [cbContent]="copy(line.code)">
        {{line.code}}</td>
</tr> -->

<p-contextMenu [target]="item" [model]="contextMenu"></p-contextMenu>